body {
    background-color: #15355a; /
}
body {
timeline-scope     : Arial, Helvetica, sans-serif; 
line-height: 1.5;
margin: 16px;
}
h1 {
color: #e3f1f5;
}
h2 {
     color: #86d0e2;
} 
p {
color: #86d0e2; font-size: 18px;
}
li {
    color:#86d0e2;
    line-height: 1.5;
margin:20px;
 font-size: 20px;
}
a:link {
    color: #86d0e2; /* link não visitado */
    text-decoration: none; /* remove sublinhado */ 
}

/* Cor do link já visitado */
a:visited {
    color: rgb(88, 103, 236);
}

/* Cor quando o mouse passa por cima */
a:hover {
    color: rgb(74, 166, 252);
    text-decoration: underline; /* adiciona sublinhado no hover */
}
a {
    font-size: 20px; /* tamanho padrão */
}